.container {
  max-width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .row {
    max-width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    mat-card {
      margin: 25px;
      width: 350px;

      img {
        height: 300px;

        cursor: pointer;
      }
    }

    @media only screen and (max-width: 400px) {

    }
  }
}
