<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-title>
        Windows
      </mat-card-title>
      <a href="" download="">
        <img mat-card-image src="/assets/images/windows.svg" alt="Windows Logo">
      </a>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Linux
      </mat-card-title>
      <a href="" download="">
        <img mat-card-image src="/assets/images/linux.svg" alt="Linux Logo">
      </a>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Mac OS
      </mat-card-title>
      <a href="" download="">
        <img mat-card-image src="/assets/images/mac_os.svg" alt="Linux Logo">
      </a>
    </mat-card>
  </div>
</div>
