<mat-toolbar class="app-toolbar">
  <span class="fill-mid-space"></span>

  <div class="toolbar-icons">
    <a href="https://discord.gg/nZWHe33">
      <button mat-icon-button><span class="mdi mdi-discord"></span></button>
    </a>
    <a href="https://www.reddit.com/r/garlicoin/">
      <button mat-icon-button><span class="mdi mdi-reddit"></span></button>
    </a>
    <a href="https://github.com/GarlicoinOrg">
      <button mat-icon-button><span class="mdi mdi-github-circle"></span></button>
    </a>
  </div>
</mat-toolbar>
