<mat-toolbar class="app-toolbar" color="primary">

  <div class="router-links">
    <a mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a mat-flat-button [routerLink]="['/downloads']" routerLinkActive="router-link-active">Downloads</a>
    <a mat-flat-button [routerLink]="['/guide']" routerLinkActive="router-link-active">Guide</a>
    <a mat-flat-button [routerLink]="['/pools']" routerLinkActive="router-link-active">Pools</a>
  </div>

  <span class="fill-mid-space"></span>

  <div class="toolbar-icons">
    <a href="https://discord.gg/nZWHe33" target="_blank">
      <button mat-icon-button><span class="mdi mdi-discord"></span></button>
    </a>
    <a href="https://www.reddit.com/r/garlicoin/" target="_blank">
      <button mat-icon-button><span class="mdi mdi-reddit"></span></button>
    </a>
    <a href="https://github.com/GarlicoinOrg" target="_blank">
      <button mat-icon-button><span class="mdi mdi-github-circle"></span></button>
    </a>
  </div>
</mat-toolbar>
