.drawer {
  background: linear-gradient(90deg, #ffda35 0, #ffae59);

  mat-drawer {
    width: 250px;
  }

  .toolbar {
    background: none;
    position: relative;
    z-index: 1;

    a {
      color: white;
      background: none;
    }

    span {
      font-size: 25px;
    }

    .fill-mid-space {
      flex: 1 1 auto;
    }

    .toolbar-icons {
      a {
        margin-left: 15px;
        color: #fff;
      }

      .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
