<div class="landing-wrapper">
  <div class="logo">
    <img src="/assets/images/logo.svg" height="100%" width="100%" alt="Garlicoin Logo">
    <div>
      <h1>Garlicoin</h1>
    </div>
  </div>
</div>
<div class="app-page">
  <div class="container">
    <mat-card>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas nisi eget mi convallis, vel ornare
      ipsum maximus. Nullam pretium lobortis dui nec accumsan. Donec dapibus mollis tellus. Maecenas varius augue lorem,
      eu aliquam massa sollicitudin vitae. Pellentesque dapibus in enim sit amet vestibulum. Morbi est turpis, varius in
      sodales vehicula, commodo id tortor. Sed pharetra, lectus hendrerit ultrices malesuada, ex sem luctus elit, vitae
      accumsan augue sem ut velit. Quisque accumsan ullamcorper tempus. Ut finibus nunc tellus, vel dapibus tortor
      condimentum eget. Ut lobortis tellus et felis rhoncus egestas. Nam eu tellus interdum, consectetur ipsum in,
      placerat urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </mat-card>
    <mat-card>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue velit iaculis, dictum ex in, facilisis sem.
      Praesent quis ligula sit amet metus eleifend elementum. Maecenas sodales mauris mauris, accumsan porttitor lorem
      dictum vitae. Phasellus luctus rutrum lorem at posuere. Vivamus commodo eleifend dignissim. Nam sit amet tempus
      metus, sed porttitor purus. Praesent viverra ac nunc ut condimentum.
    </mat-card>
  </div>
</div>
