.container {

  margin: 0px 50px 50px;
  width: calc(100% - 100px);
  height: calc(100% - 50px);

  display: flex;
  flex-flow: column wrap;

  .full {
    height: calc(100% - 60px);
  }

  .half {
    height: calc(50% - 60px);
  }

  mat-card {
    margin: 10px;
    width: calc(50% - 60px);
  }
}
