* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html,
body,
app-root {
  height: 100%;

  max-width: 100%;
  min-width: 300px;
  min-height: 100%;
}

@import '~@angular/material/theming';
@import '~@mdi/font/css/materialdesignicons.min.css';

@include mat-core();

$app-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink, A200, A100, A400));

@include angular-material-theme($app-theme);
